@mixin orangeCircle {
    &::before {
        content: "";
        position: absolute;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background: #FFA501;
        z-index: -1;
        top: -5px;
        left: -1%;
    }
}

@mixin transparentCircle {
    &::before {
        content: "";
        left: -35px;
        top: 25%;
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 100%;
        border: 1px solid #000000;
        z-index: -1;        
    }
}
