@import 'libs/bootstrap-reboot.min';
@import 'libs/font';
@import 'base/variablse';
@import "blocks/title";

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

@import "blocks/promo";
