

@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';
@import 'base/variablse';
@import "base/mixins";



* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.divider {
    width: 60px;
    height: 3px;
    background: $main-color;
}

@import "blocks/title";
@import "blocks/button";
@import "blocks/sidepanel";
@import "blocks/promo";
@import "blocks/hamburger";
@import "blocks/menu";
@import "blocks/about";
@import "blocks/resume";
@import "blocks/ability";
@import "blocks/achievements";
@import "blocks/portfolio";
@import "blocks/price";
@import "blocks/contacts";
@import "blocks/policy";
@import "blocks/media";



