.ability {
    padding-top: 120px;
    &__wrapper {
        margin-top: 60px;
        padding: 0 10px;
        display: grid;
        justify-content: center;
        grid-template: repeat(2, minmax(270px, auto)) / repeat(auto-fill, 270px);
        grid-auto-rows: minmax(270px, auto);
        column-gap: 13px;
        row-gap: 13px;
    }
    &__item {
        padding: 30px 30px 25px 30px;
        border: 1px solid black;
    }
    &__img {
        display: flex;
        align-items: center;
        height: 65px;
        &-wrapper  {
            display: flex;
        }
    }
    &__name {
        margin-top: 20px;
        font-size: 14px;
        line-height: 21px;
        color: #000000;
    }
    &__descr {
        margin-top: 15px;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #000000;
    }
}