.hamburger {
    position: absolute;
    top: 20px;
    right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 21px;
    align-items: flex-end;
    z-index: 3;
    cursor: pointer;
    span {
        width: 30px;
        height: 3px;
        background-color: rgba(21, 24, 18, 1) ;
        &:nth-child(2) {
            width: 36px;
        }
    }
}