.price {
    padding-top: 60px;
    &__wrapper {
        margin-top: 60px;
        padding: 0 50px;
        display: grid;
        justify-content: space-around;
        grid-template: repeat(3, minmax(44px, auto)) / repeat(auto-fill, minmax(auto, 366px));
        grid-auto-rows: 44px;
        row-gap: 15px;
    }
    &__item {
        padding-left: 25px;
    }
    &__list {
        display: flex;
        justify-content: space-between;
    }
    &__name {
        position: relative;
        @include orange-circle;

    }
    &__descr {
        margin-top: 5px;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #000000;
    }
}