.promo {
    min-height: 100vh;
    padding-top: 205px;
    position: relative;
    background: url('../img/background.jpg') no-repeat 50%/cover;
    &__subtitle {
        margin-left: 10px;
        position: relative;
        font-size: 16px;
        @include orangeCircle;
        z-index: 1;
    }
    &__title {
        margin-top: 9px;
        width: 532px;
        font-size: 48px;
    }
    &__btns {
        display: flex;
        margin-top: 25px;
    }
    &__link {
        margin-right: 11px;
        min-width: 135px;
        height: 45px;
        transition: all .5s;
    }
    &__hamburger-wrapper {
        position: absolute;
        display: block;
        top: 20px;
        right: 30px;
    }
    &__hamburger {
        display: flex;
        flex-direction: column;
        width: 40px;
        cursor: pointer;
        span {
            align-self: flex-end;
            margin-bottom: 6px;
            width: 30px;
            height: 3px;
            background-color: rgb(0, 0, 0);
            &:nth-child(2) {
                width: 36px;
            }
        }
    }
}