.contacts {
    position: fixed;
    display: flex;
    left: -6vw;
    top: 50vh;
    z-index: 10;
    transform: rotate(-90deg);
    height: 24px;
    &__hyphen {
        align-self: center;
        display: block;
        width: 70px;
        height: 2px;
        margin-left: 15px;
        background-color: rgb(0, 0, 0);
    }
    &__social {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
    }
    &__contact-link {
        color: #000000;
        text-decoration: none;
        margin-left: 15px;
        transition: all 2s;
        &:hover {
            color: $main-color;
            transform: rotate(1170deg);            
        }
    }
}

